@import "normalize.styl"
@import "fonts.styl"

purple_color = #662483

orange_color = #F39200
light_purple_color = #EACFF9
dark_gray_color = #878787
gray_color = #575756
blue_color = #043D7C
background_color = #DADADA
menu_color = #EDEDED

body
	font-size 16px
	font-family 'Lato', sans-serif
	background background_color
	
figure
	margin 0

a
	text-decoration none
	
img
	vertical-align top
	
ul
	margin 0
	padding 0
p
	margin 0
	
select 
	width 100px
	color dark_gray_color
span
	cursor default

.footer-copyright
	margin 0 auto
	height 50px
	width 90%
	padding-top 2em
	text-align center
	color gray_color
	border-top 1px solid gray_color
	
.logo
	text-align center
	margin-top 2em
	.image
		img
			width 75%

.menu
	display block
	text-align center
	overflow hidden
	border-top 1px solid gray_color
	width 90%
	margin 0 auto
	.item
		list-style none
		float right
		text-align center
		a
			color purple_color
			padding 1em
			display block
			&:hover
				color orange_color
				
.banner
	text-align center
	margin-bottom 1em
	.bannerImage
		img
			width 95%
		
.searchModule
	margin 0 auto
	border-top 1px dashed gray_color
	border-bottom 1px dashed gray_color
	padding 0.75em 0.5em 0.75em 0.5em
	width 90%
	.searchingOptions
		.search
			position relative
			display inline-block
			margin-top 0.5em
			.search-icon
				position absolute
				left 0.5em
				top 0.65em
				color gray_color
			.input
				padding 0.4em 0.25em 0.25em 1.9em
				width 125px
		.selectForm
			margin-left 1em
			display inline-block

.concertsList
	margin-top 1em
	text-align center
	.concert
		width 75%
		margin 0 auto
		
		margin-bottom 3em
		display inline-block
		.moreInfo
			.facebookShare
				float right
				margin-right 0.5em
				font-size 1.5em
				margin-top 0.25em
				color blue_color
			.cityName
				margin-top 0.75em
				padding-left 0.5em
				float left
				text-align center
				.location-icon
					color orange_color
		.concertImage
			position relative
			img 
				width 100%
			.info
				position absolute
				bottom  0
				left 0
				right 0
				background rgba(light_purple_color, 0.3)
				height 25px
				color white
				text-align center
				&:hover
					background rgba(orange_color, 0.5)
					
@media screen and (min-width:480px)
	.concert
		&:nth-child(even)
			margin-right 1em
			margin-left 1em
			width 40%
		&:nth-child(odd)
			width 40%
			margin-left 1em
			margin-right 1em
	.topMenu	
		border-bottom 1px solid gray_color
		background menu_color
		.logo
			width 30%
			display inline-block
			margin-left 2em 
			margin-top 1em
			vertical-align middle
			margin-bottom 0.75em
		.menu
			width 60%
			display inline-block
			border-top none
			vertical-align middle
	.banner
		margin-top 1em

@media screen and (min-width:1000px)
	.topMenu
		.logo
			width 20%
			margin-left 3em
		.menu
			width 70%
				
	.searchModule
		text-align center
		.description
			display inline-block
			vertical-align middle
			text-align left
			width 45%
		.searchingOptions
			display inline-block
			vertical-align middle
			width 50%
			
	.concert
		&:nth-child(even)
			margin-right 1em
			margin-left 1em
			width 25%
		&:nth-child(odd)
			width 25%
			margin-left 1em
			margin-right 1em