<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:description" content="¿Tu grupo favorito visitó tu ciudad y no te enteraste? ¡Qué no te vuelva a pasar! Busca tu localidad o artista preferido."/>
		<meta property="og:image" content="http://fannytaviles.com/concertTime/img/concertFb.jpg" />
		<title>Concert Time - Todos los conciertos en tu ciudad</title>
	    <link href="css/estilos.css" rel="stylesheet" media="screen">
	    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<script src="src/lib/jquery-min.js"></script> 
		<script src="src/lib/underscore-min.js"></script>
	    <script src="src/lib/backbone-min.js"></script>
	    <script src="src/views/concert_view.js"></script>
	    <script src="src/models/concert-model.js"></script>
	    <script src="src/app.js"></script>
	</head>
	<body>
		<header>
			<div class="topMenu">
				<a href="#/index">
					<div class="logo">
						<figure class="image">
							<img src="img/logo.png" alt="ConcertTime"/>
						</figure>
					</div>
				</a>
				<nav class="menu">
					<ul class="list">
						<li class="item">
							<a href="#/conciertos">Conciertos</a>
						</li>
						<li class="item">
							<a href="#/index">Inicio</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="banner">
				<figure class="bannerImage">
					<img src="img/concertImage.jpg" alt="ConcertTime"/>
				</figure>
			</div>
			<div class="socialButtons">
				<div id="fb-root" class="fb-root">
					<div class="fb-share-button" data-href="http://www.fannytaviles.com/concertTime/index.html" data-layout="button_count"></div>
				</div>
				<div class="tw-root">
					<a href="https://twitter.com/fannytaviles" class="twitter-follow-button" data-lang="es" data-show-screen-name="false"></a>
				</div>
			</div>
		</header>
		<section id="indexContainer"></section>
		<section id="searchModuleSection"></section>
		<section class="concertsList" id="concertListContainer"></section>
		<section class="details" id="concertDetails"></section>
		<footer>
			<div class="footer-copyright">
				<p>&copy; Copyright 2015 Concert Time</p>
			</div>
		</footer>
		<script type="text/template" id="indexTemplate">
			<div class="idx">
				<div class="appDescription">
					<h1>¡Hola, esto es Concert Time!</h1>
					<h2>Aquí podrás encontrar todas las presentaciones que habrá próximamente en tu ciudad o los siguientes conciertos de tu artista favorito.</h2>
					<a href="#/conciertos">
						<div class="goConcertTime">Buscar ahora</div>
					</a>
				</div>
				<div class="appProcess">
					<div class="steps">
						<figure class="imageStep">
							<img src="img/mapMarker.png"/>
						</figure>
						<div class="stepInfo">
							<span>Busca tu ciudad</span>
						</div>
					</div>
					<div class="steps">
						<figure class="imageStep">
							<img src="img/people.png"/>
						</figure>
						<div class="stepInfo">
							<span>Encuentra tu evento</span>
						</div>
					</div>
					<div class="steps">
						<figure class="imageStep">
							<img src="img/ticket.png"/>
						</figure>
						<div class="stepInfo">
							<span>Obtén la información</span>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/template" id="itemConcertTemplate">
			<article class="concert">
				<a href='#/concierto/<%= id %>'>
					<figure class='concertImage'>
						<img src='<%= img %>' alt='<%= artist %>'/>
						<div class='info'>
							<span class='icon-users'><%= artist %></span>
						</div>
					</figure>
				</a>
				<div class="moreInfo">
					<div class="cityName">
						<span class="icon-location2 location-icon"></span>
						<span> <%= city %></span>	
					</div>
				</div>	
			</article>	
		</script>
		<script type="text/template" id="detailsTemplate">
			<div class="showDetails">
				<div class="headerDetails">
					<div class="return">
						<a href="#/conciertos" class="icon-circle-left"></a>
					</div>
					<div class="artistTag">
						<h1><%= artist %></h1>
					</div>
					<div class="locationInfo">
						<span class="icon-location2 location-icon"></span>
						<span class="cityInfo"><%= city %></span>	
					</div>
				</div>
				<div class="concertDetails">
					<figure class="concertImageDetails">
						<img src='<%= img %>' alt='<%= artist %>'/>
					</figure>
					<div class="concertDescription">
						<p>
							<%= description %>
						</p>
						<div class="moreInfo">
							<div class="date">
								<span class="infoTitle">Fecha:</span> 
								<span><%= date %></span>
							</div>
							<div class="hour">
								<span class="infoTitle">Hora:</span> 
								<span><%= hour %> horas</span>
							</div>
							<div class="place">
								<span class="infoTitle">Lugar:</span> 
								<span><%= place %></span>
							</div>
							<span class="infoTitle">Boletos:</span> 
							<a href='<%= urlInfo %>'><%= tickets %></a>
						</div>
					</div>
					<div class="maps">
						<iframe width="100%" height="250" frameborder="0" style="border:0" src='<%= mapSrc %>'>
						</iframe>
					</div>
				</div>
			</div>
		</script>
		<script type="text/template" id="searchingTemplate">
			<div class="searchModule">
				<div class="description">
					<p>¿Tu grupo favorito visitó tu ciudad y no te enteraste? ¡Qué no te vuelva a pasar! Busca tu localidad o artista preferido. </p>
				</div>
				<div class="searchingOptions">
					<div class="search">
						<span class="icon-search search-icon"></span>
						<input onKeyUp='onConcertFilter()' value='<%= filter %>' type="text" placeholder="Artista o Ciudad" class="input" id="inputConcert">		
					</div>
					<div class="selectForm">
						<select onChange="onChangeSortOrder()" id="sortField">
							<option <% if(sortField === "artist"){ %> selected <% } %> value="artist">Artista</option>
							<option <% if(sortField === "city"){ %> selected <% } %> value="city">Ciudad</option>
						</select>
					</div>
				</div>
			</div>
		</script>
		<script>
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=701027710023484";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0], p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
		<script type="text/javascript">
			$(function(){ 
				var init = {
					data: [
					   {
						 "id": "1",
						 "img": "img/JuanSoloConcert.png",
						 "artist": "Juan Solo",
						 "city": "Distrito Federal",
						},
						{
						 "id": "2",
						 "img": "img/LosClaxonsConcert.jpg",
						 "artist": "Los Claxons",
						 "city": "San Luis Potosí",
						},
						{
						 "id": "3",
						 "img": "img/RoyAguadoConcert.jpg",
						 "artist": "Roy Aguado",
						 "city": "Guanajuato",
						},
						{
						 "id": "4",
						 "img": "img/PaulinoMonroyConcert.jpg",
						 "artist": "Paulino Monroy",
						 "city": "Distrito Federal",
						},
						{
						 "id": "5",
						 "img": "img/JuanSoloConcert.png",
						 "artist": "Juan Solo",
						 "city": "San Luis Potosí",
						},
						{
						 "id": "6",
						 "img": "img/LosClaxonsConcert.jpg",
						 "artist": "Los Claxons",
						 "city": "Distrito Federal",
						},
					]
				};

				App.start(init);

				onChangeSortOrder = function()
				{
					App.sortBy($('#sortField').val());
				}

				onConcertFilter=function()
				{
					App.filterBy($('#inputConcert').val());
				}
			});
		</script>
	</body>
</html>